.header{
    height: 80px;
    width: 100%;
    background-color: #3A59D1;
    display: flex;
    color: white;
    justify-content: space-between;
    padding: 20px 50px;
    /* align-items: center; */
}

.header img{
    height: 100%;
}

.header h2{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    height: 100%;
}

@media screen and (max-width:1000px) {
    .header{
        font-size: 10px;
        padding: 10px 20px;
    }

    .header img{
        height: 30px;
        width: 30px;
    }
}